

html{
    overflow-x: hidden;
}

body{
    font-family: $general-font;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $heading-font;
}

h2{
    font-size: 4rem;
    font-weight: 600;
}

p{
    font-size: 1.6rem;
    line-height: 1.6;
}

ul{
    margin: 0;
    padding: 0;
}

li{list-style: none;}