$primary-bg:  linear-gradient(90deg, rgba(140,133,249,1) 0%, rgba(153,111,245,1) 52%, rgba(160,101,245,1) 100%);
$secondary-bg: rgb(239,114,238);

$hover-bg: linear-gradient(90deg, rgba(120,23,119,1) 0%, rgba(137,21,186,1) 82%, rgba(143,3,148,1) 100%);

$white: #fff;
$black: #000;

$gray: rgba(0,0,0,.6);
$light-gray: #ccc;

