.home{
    background-image: url('../images/fashion.jpeg');
    @include bgImg();
    position: relative;

    .home-content{
        width: 70vw;
        position: relative;
        z-index: 9;
        margin: 0 auto;
    }

    .home-text{

        h1{
            font-size: 9rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p{
            font-size: 2rem;
            color:$white;
            margin-bottom: 5rem;
            span{color: yellow;}
        }

        .btn{
            font-size: 2rem;
            border-radius: 40px;
            padding: .6rem 2rem;
            display: inline-flex;
        }
    }
}


@include responsive_mobile(){
    html{font-size: 14px;}

    .home-content{
        width: 100vw!important;
    }

    .home-text{text-align: center;}
}

@include responsive_max(411px){
    html{font-size: 12px;}

    .home-text h1{font-size: 6rem!important;}
}

@include responsive_max(360px){
    html{font-size: 10px!important;}
}