.home{
    background-image: url('../images/fashion.jpeg');
    @include bgImg();
    position: relative;

    .home-content{
        width: 70vw;
        position: relative;
        z-index: 9;
        margin: 0 auto;
    }

    .home-text{

        h1{
            font-size: 9rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p{
            font-size: 2rem;
            color:$white;
            margin-bottom: 5rem;
            span{color: yellow;}
        }

        .btn{
            font-size: 2rem;
            border-radius: 40px;
            padding: .6rem 2rem;
            display: inline-flex;
        }
    }
}

.header{
    z-index: 9;
    padding: 1rem 0;
    .navbar{
        width: 70vw;
        margin: 0 auto;
        padding: 0!important;
    }

    .navbar-brand{
        font-size: 3rem;
        color: yellow;
    }
    .navbar-btn{
        width: 220px;
        display: flex;
        .btn{
            width: 50%;
            padding: 1rem 0;
            
        }
        .btn:nth-of-type(1){border-radius: 40px 0 0 40px;}
        .btn:nth-of-type(2){border-radius: 0 40px 40px 0;}

        .dropdown-menu{
            left: 50%;
            transform: translateX(-50%);
            &.active{display: block;}
        }
    }
}


@include responsive_mobile(){
    html{font-size: 14px;}

    .home-content{
        width: 100vw!important;
    }

    .home-text{text-align: center;}

    .navbar{
        width: 90vw!important;
    }
}

@include responsive_max(411px){
    html{font-size: 12px;}

    .home-text h1{font-size: 6rem!important;}

    .navbar{
        width: 95vw!important;
        .navbar-btn{width: 180px!important;}
    }
}

@include responsive_max(360px){
    html{font-size: 10px!important;}
    .navbar{
        width: 95vw!important;
        .navbar-btn{width: 160px!important;}
    }
}