@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Public+Sans:wght@500;600;700&display=swap");
html {
  overflow-x: hidden;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.about {
  padding: 10rem 0;
  height: 100vh;
}

.about .container-fluid {
  width: 70vw;
}

.about .about-img {
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about .about-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.about .about-text p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.home {
  background-image: url("/src/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: initial;
  position: relative;
}

.home .home-text {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home .home-text h1 {
  font-size: 7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home .home-text p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 5rem;
}

.home .home-text p span {
  color: yellow;
}

.home .home-text .btn {
  font-size: 2rem;
  border-radius: 40px;
  padding: .6rem 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.showcase {
  width: 70vw;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 4rem  0;
  -webkit-box-shadow: -1px 11px 28px -13px #555555;
          box-shadow: -1px 11px 28px -13px #555555;
}

.showcase h2 {
  margin-bottom: 5rem;
}

.showcase .showcase-nav {
  padding: .9rem 2rem;
  width: 63%;
  margin: 3rem auto 7rem auto;
  background-color: #fff;
  border-radius: 40px;
  -webkit-box-shadow: -1px 11px 28px -13px #555555;
          box-shadow: -1px 11px 28px -13px #555555;
}

.showcase .showcase-nav ul {
  height: 100%;
}

.showcase .showcase-nav ul .nav-item {
  font-size: 1.8rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#8c85f9), color-stop(52%, #996ff5), to(#a065f5));
  background: linear-gradient(90deg, #8c85f9 0%, #996ff5 52%, #a065f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showcase .showcase-nav ul .nav-item.active {
  font-size: 1.9rem;
  text-shadow: 2px 6px 15px #8c85f9;
}

.trends {
  width: 70vw;
  background-color: #fff;
  margin: -4rem auto 0 auto;
  position: relative;
  padding: 4rem  0;
  -webkit-box-shadow: -1px 11px 28px -13px #555555;
          box-shadow: -1px 11px 28px -13px #555555;
}

.trends h2 {
  margin-bottom: 7rem;
}

.trend-item {
  margin-bottom: 5rem;
  padding: 1rem 1rem 0 1rem;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
}

.trend-item:hover {
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -1px 2px 57px -27px #555555;
          box-shadow: -1px 2px 57px -27px #555555;
  overflow: visible;
}

.trend-item:hover .cta {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
}

.trend-item:hover .reactions .heart,
.trend-item:hover .reactions .comment {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
}

.trend-item .cta {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.trend-item .cta .btn {
  background: -webkit-gradient(linear, left top, right top, from(#8c85f9), color-stop(52%, #996ff5), to(#a065f5));
  background: linear-gradient(90deg, #8c85f9 0%, #996ff5 52%, #a065f5 100%);
  color: #fff;
  font-size: 1.5rem;
  padding: .6rem 2rem;
  border-radius: 40px;
  text-transform: capitalize;
}

.item-img {
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 2rem;
}

.item-info h5 {
  color: rgba(0, 0, 0, 0.6);
}

.item-info .price {
  font-size: 1.5rem;
  font-weight: 700;
}

.reactions {
  color: #ccc;
  font-size: 1.3rem;
}

.reactions .heart {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.reactions .heart i {
  color: crimson;
}

.reactions .comment {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.reactions .comment i {
  color: aqua;
}
/*# sourceMappingURL=main.css.map */