@mixin bgImg($size: cover){
    background-repeat: no-repeat;
    background-size: $size;
    background-position: center center;
}

@mixin transition($prop: all, $time: 350ms, $type: linear){
    transition: $prop $time $type;
}